@model Department

<div class="container">
    <form method="post" id="departmentForm" asp-action="Index">
        <input asp-for="DepartmentId" class="form-control" value="@Model.DepartmentId" type="hidden" id="InputId" />
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">總公司 - 部門資料</h2>
                <hr />
            </div>
            <div class="d-flex flex-wrap mb-3">
                <button type="button" id="createButton" class="btn btn-secondary border m-1 flex-grow-1" onclick="add()">新增</button>
                <button type="button" id="editButton" class="btn btn-secondary border m-1 flex-grow-1" onclick="edit()" @(Model.DepartmentId) == 0 ? "disabled" : "")>修改</button>
                <button id="deleteButton" class="btn btn-secondary border m-1 flex-grow-1" onclick="deleteClick(@Model.DepartmentId)" @(Model.DepartmentId == 0 ? "disabled" : "")>刪除</button>
                <button type="button" id="cancelButton" class="btn btn-secondary border m-1 flex-grow-1" onclick="cancel()" disabled>取消</button>
                <button type="button" id="searchButton" class="btn btn-secondary border m-1 flex-grow-1">查詢</button>
                <button type="button" id="printButton" class="btn btn-secondary border m-1 flex-grow-1">列印</button>
                <button type="submit" class="btn btn-primary m-1 flex-grow-1" id="submitButton" disabled>存檔</button>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="ShortName" class="p-0"></label>
                <input asp-for="ShortName" class="form-control" disabled />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Name" class="p-0"></label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Phone" class="p-0"></label>
                <input asp-for="Phone" class="form-control" disabled />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Ext" class="p-0"></label>
                <input asp-for="Ext" class="form-control" disabled />
                <span asp-validation-for="Ext" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Fax" class="p-0"></label>
                <input asp-for="Fax" class="form-control" disabled />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Address" class="p-0"></label>
                <input asp-for="Address" class="form-control" disabled />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Url" class="p-0"></label>
                <input asp-for="Url" class="form-control" disabled />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Note" class="p-0"></label>
                <textarea asp-for="Note" class="form-control" disabled></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
<hr />
<div class="container">
    <table id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>NO</th>
                <th>部門編號</th>
                <th>部門名稱</th>
                <th>部門電話</th>
                <th>電話分機</th>
                <th>部門傳真</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/Setting/department.js"></script>
}